//
   Created by yoadf on 4/28/2017.
link(href='./stylesheets/style.css', rel='stylesheet')

html

    head
        title= title
    body
    h1=title
    ul
    each image in images
        li
            img(src=image width=300)